<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Version 1 Challenge Part 3</title>
  </head>
  <body>
    <h1><%= recipeName %>
    <ul>
      <% for (var ingredient of ingredients) { %>
        <li><%= ingredient %></li>
      <% } %>
    </ul>
  </body>
</html>
