html
  head
    title Learners Guild Ice Cream Shoppe
  body
    h2 Our Flavors
    ul
      each flavor in flavors
          li= flavor
    h2 Bestseller
    p Our current bestseller is: 
      span(id='bestseller')
    button Get Current Bestseller
