html
  head
    title Bay Area Sports Teams
  body
    h2 Our Teams
    ul(id='team-list')
      each team in teams
          li= team
    h2 Add Team
    input(id='new-team-name', type='text')
    button(id='add-team') Add team
