<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bay Area Sports Teams</title>
  </head>
  <body>
    <h2>Our Teams</h2>
    <ul id='team-list'>
      <% for (var team of teams) { %>
        <li><%= team %></li>
      <% } %>
    </ul>
    <h2>Add Team</h2>
    <input type="text" id="new-team-name">
    <button id="add-team">Add team</button>
  </body>
</html>
