<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learners Guild Ice Cream Shoppe</title>
  </head>
  <body>
    <h2>Our Flavors</h2>
    <ul>
      <% for (var flavor of flavors) { %>
        <li><%= flavor %></li>
      <% } %>
    </ul>
    <h2>Bestseller</h2>
    <p>Our current bestseller is: <span id="bestseller"></span></p>
    <button>Get Current Bestseller</button>
  </body>
</html>
