html
  head
    title Version 2 Challenge Part 3
  body
    h1 Flight Counts
    h2 For passengers with #{minFlightCount} or more flights
    table(id='flight-counts')
      tr
        th Passenger Name
        th Flight Count
      each passenger in flightCounts
        tr
          td= passenger.name
          td= passenger.flightcount
