<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Version 2 Challenge Part 3</title>
  <link rel="stylesheet" href="/flight_counts.css">
</head>

<body>
  <h1>Flight Counts</h1>
  <h2>For passengers with
    <%= minFlightCount %> or more flights</h2>
  <% if (locals.message) { %>
    <div id="message">
      <p>
        <%= message %>
      </p>
    </div>
    <% } %>
      <table class="flight-counts">
        <tr>
          <th>Passenger Name</th>
          <th>Flight Count</th>
        </tr>
        <% for (var passenger of flightCounts) { %>
          <tr>
            <td>
              <%= passenger.name %>
            </td>
            <td class="flight-count">
              <%= passenger.flightcount %>
            </td>
          </tr>
          <% } %>
      </table>
      <div class="total-flights">
        <button id="total-flights-button">Get total flights</button>
        <span id="flight-count-total"></span>
      </div>

      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
      <script src="/flight_counts.js"></script>
</body>

</html>