<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learners Guild Ice Cream Shoppe</title>
  </head>
  <body>
    <h1>Learners Guild Ice Cream Shoppe</h1>
    <h2>Our Flavors</h2>
  </body>
</html>
